<!DOCTYPE html>
<html>
<head>
    <title>Customizing Axes</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <style>
      .vertical-button-row {
        position: absolute; left: 0; top: 0; bottom: 0; width: 100px;
      }
      .vertical-button-row button {
        display: block;
        width: 100%;
        margin: 3px 2px;
      }
      .horisontal-button-row button {margin: 3px 2px;}
      .horisontal-button-row {
        margin-left: 100px;
      }
    </style>
</head>
<body>
<div id="types" class="vertical-button-row"></div>
<div id="users" class="horisontal-button-row"></div>
<div style="display: flex; margin-left: 100px;">
    <div style="flex: 1;">
        <canvas id="myChart"></canvas>
    </div>
    <div style="flex: 1;">
        <canvas id="myChart2"></canvas>
    </div>
</div>
<div style="display: flex; margin-left: 100px;">
    <div style="flex: 1;">
        <canvas id="myChart3"></canvas>
    </div>
    <div style="flex: 1;">
        <canvas id="myChart4"></canvas>
    </div>
</div>
<script type="module" src="visualization/chart.js"></script>
<script type="module" src="visualization/filter.js"></script>
</body>
</html>